.navbar.navbar-default.navbar-fixed-bottom.footer
  .container
    p.navbar-text.pull-left
      | © 2014 - Site Built By Mr. M.
      a(href='http://tinyurl.com/tbvalid', target='_blank') HTML 5 Validation
    a.navbar-btn.btn-danger.btn.pull-right(href='http://youtu.be/zJahlKPCL9g')
      span.glyphicon.glyphicon-star
      |   Subscribe on YouTube
