<span *ngIf="loginService.requestedLoginLoading"><span *ngIf="type === 'page'">
    <p>Loading...</p></span><span *ngIf="type === 'navbar'"><span>
      <ul class="nav navbar-nav navbar-right" style="margin-right: 20px;">
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="fa fa-spinner fa-spin fa-fw"></span></a>
          <div class="dropdown-menu" role="menu"></div>
        </li>
      </ul></span></span></span><span *ngIf="!loginService.requestedLoginLoading"><span *ngIf="type === 'page' &amp;&amp; !loginService.isLoggedIn">
    <div class="container-fluid">
      <div class="container">
        <div class="card card-container"><img class="profile-img-card" id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
          <p class="profile-name-card" id="profile-name"></p>
          <form class="form-signin"><span class="reauth-email" id="reauth-email"></span>
            <input class="form-control" id="inputEmail" type="username" placeholder="Username" required="" autofocus="" [(ngModel)]="loginUsername" name="username"/>
            <input class="form-control" id="inputPassword" type="password" placeholder="Password" required="" [(ngModel)]="loginPassword" name="password"/>
            <div class="checkbox" id="remember">
              <label>
                <input type="checkbox" value="remember-me"/> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="postLogin()">Sign in</button>
          </form><a class="forgot-password" href="#">Forgot the password?</a>
        </div>
      </div>
    </div></span><span *ngIf="type === 'navbar'"><span *ngIf="loginService.isLoggedIn">
      <ul class="nav navbar-nav navbar-right main-nav navbar-nav nav" style="margin-right: 20px;">
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="fa fa-user"></span></a>
          <div class="dropdown-menu" role="menu"></div>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="fa fa-comments-o"></span></a>
          <div class="dropdown-menu" role="menu"></div>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="fa fa-bell-o"></span></a>
          <div class="dropdown-menu" role="menu"></div>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">{{loginService.userInfo.username}}<span class="caret"></span></a>
          <ul class="dropdown-menu setting" role="menu">
            <li class="divider"></li>
            <li><a (click)="goSettings()" style="cursor: pointer;">Settings</a></li>
            <li><a routerLink="/app/admin">Admin</a></li>
            <li class="divider"></li>
            <li><a (click)="logout()" style="cursor: pointer;">Logout</a></li>
            <li class="divider"></li>
          </ul>
        </li>
      </ul></span><span *ngIf="!loginService.isLoggedIn">
      <ul class="nav navbar-nav navbar-right" style="margin-right: 20px;">
        <li><a (click)="getLoginDetails()">test</a></li>
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><b>Login</b><span class="caret"></span></a>
          <ul class="dropdown-menu" id="login-dp">
            <li>
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-container">
                    <form class="form-signin"></form><span class="reauth-email" id="reauth-email"></span>
                    <input class="form-control" id="inputEmail" type="username" placeholder="Username" required="" autofocus="" [(ngModel)]="loginUsername" name="username"/>
                    <input class="form-control" id="inputPassword" type="password" placeholder="Password" required="" [(ngModel)]="loginPassword" name="password"/>
                    <div class="checkbox" id="remember">
                      <label></label>
                      <input type="checkbox" value="remember-me"/> Remember me
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="postLogin()">Sign in</button><a class="forgot-password" href="#"></a>Forgot the password?
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul></span></span></span>