.nav-side-menu
    .brand Admin Panel
    i.fa.fa-bars.fa-2x.toggle-btn(data-toggle='collapse', data-target='#menu-content')
    .menu-list
        ul#menu-content.menu-content.collapse.out
            li
                a(href='#')
                    i.fa.fa-dashboard.fa-lg
                    |  Dashboard
            li.collapsed.active(data-toggle='collapse', data-target='#products')
                a(href='#')
                    i.fa.fa-gift.fa-lg
                    |  UI Elements 
                    span.arrow
            ul#products.sub-menu.collapse
                li.active
                    a(href='#') CSS3 Animation
                li
                    a(href='#') General
                li
                    a(href='#') Buttons
                li
                    a(href='#') Tabs & Accordions
                li
                    a(href='#') Typography
                li
                    a(href='#') FontAwesome
                li
                    a(href='#') Slider
                li
                    a(href='#') Panels
                li
                    a(href='#') Widgets
                li
                    a(href='#') Bootstrap Model
            li.collapsed(data-toggle='collapse', data-target='#service')
                a(href='#')
                    i.fa.fa-globe.fa-lg
                    |  Services 
                    span.arrow
            ul#service.sub-menu.collapse
                li New Service 1
                li New Service 2
                li New Service 3
            li.collapsed(data-toggle='collapse', data-target='#new')
                a(href='#')
                    i.fa.fa-car.fa-lg
                    |  New 
                    span.arrow
            ul#new.sub-menu.collapse
                li New New 1
                li New New 2
                li New New 3
            li
                a(href='#')
                    i.fa.fa-user.fa-lg
                    |  Profile
            li
                a(href='#')
                    i.fa.fa-users.fa-lg
                    |  Users
