ul.nav.navbar-nav.navbar-right(
    style="margin-right: 20px;"
)
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      span.fa.fa-spinner.fa-spin.fa-fw
    .dropdown-menu(role='menu')